@page
@model PostsModel
@{
    ViewData["Title"] = "Posts";
    ViewData["Description"] = "List of my posts about my depression story, tips and tricks, etc.";
}

<div class="text-center">
    <h1 class="display-4">Alle Beiträge im Überblick</h1>
    
    <div class="post-grid">
        @foreach (var post in Model.Items)
        {
            <section class="post-card elevated-box">
                <h2><a asp-page="./Post" asp-route-id="@post.UrlIdentifier">@post.Title</a></h2>
                <h4>Published at @post.CreatedAt.ToString("MM/dd/yyyy")</h4>
                <section class="tag-section">
                    @foreach (var tag in post.Tags)
                    {
                        <div class="tag">#@tag</div>
                    }
                </section>
                <p class="post-content">
                    @post.Summary
                </p>
            </section>
        }     
    </div>
   
</div>