@using Backend.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<User> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Depression book</title>
    <meta name="description" content="@ViewData["Description"]"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/animation.css" asp-append-version="true"/>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>
<body>
<canvas id="networkCanvas"></canvas>
<div class="container main-container">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 main-nav">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 nav-list">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/posts">Posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/about">About</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-page="/search">Search</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/admin/overview">Admin</a>
                            </li>
                            <li class="nav-item">
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3 container">
        @RenderBody()
    </main>
    <footer class="bg-waves site-footer">
        <div class="footer-content">
            &copy;2025 - Depression book
        </div>
    </footer>
</div>

@await RenderSectionAsync("Scripts", required: false)

<script src="js/background.js"></script>
</body>

</html>