@page "/admin/create-tag"
@model CreateTagModel

@{
    Layout = "AdminLayout";
}

<div>
    <h1>Create Tag</h1>
    <input type="text" class="tag-input"/>
    <div id="create-element-button" style="width: 100px; height:  50px; background-color: #258cfb;">
        <img src="~/static/plus.png" alt="plus-sign" width="20" height="20"/>
    </div>
    <button type="button" class="create-tag-button">Create</button>
</div>
<script>
    const createElementBtn = document.getElementById("create-element-button");
    createElementBtn.addEventListener("click", () => {
        const element = document.createElement("input");
        element.type = "text";
        element.classList.add("tag-input");
        createElementBtn.insertAdjacentElement("beforebegin", element);
    })
    const createTagButton = document.querySelector(".create-tag-button");
    createTagButton.addEventListener("click", async () => {
        const inputs = document.querySelectorAll(".tag-input");
        const tags = [];
        for (const input of inputs) {
            tags.push(input.value);
        }
        await fetch("/api/Tag/", {
            method: "POST",
            body: JSON.stringify({ tags: tags}),
            headers: { "Content-Type": "application/json" },
        });
    })
</script>