@page "/admin/edit-post/{id}"
@model EditPostModel
@{
    ViewData["Title"] = "Edit";
    ViewData["Description"] = "Edit the specified post";
}

<div>
    <h1>Edit post:</h1>
    <section class="edit-post-main">
        <!-- todo: edit title, etc. -->
    </section>
    <section class="edit-post-tags">
        
    </section>
    <section class="edit-post-relations">
        
    </section>
    <section class="edit-post-parts">
        
    </section>
</div>